In [1]:
import pandas as pd
#import openpyxl
customer_base = pd.read_excel('231013_Customer_Base.xlsx')
fraud_cases = pd.read_excel('231013_Fraud_Cases.xlsx')
transactions_input = pd.read_excel('231013_Transactions_Input.xlsx')

In [5]:
customer_base.head()

   customer_id home_bank  customer_prob
0        10298    bank_E           0.49
1        14507    bank_E           0.35
2        14558    bank_E           0.45
3        13453    bank_E           0.63
4        19629    bank_D           0.79

In [6]:
fraud_cases.head()

   transaction_id  is_scam_transaction     fraud_type  case_id
0             187                    1     AdvanceFee  5415844
1             247                    1  Impersonation  4280670
2             818                    1  Impersonation  6956462
3             891                    1       Purchase  2702984
4            1142                    1       Purchase  3493741

In [7]:
transactions_input.head()

,transaction_id,description,Amount,category,date,month,customer_id,type,In_or_Out,bank_to,bank_from,transac_prob,description_prob,priority
0,1,Salary Deposit - XYZ Corporation,11474.33021,Income,2023-10-01,October,17699,income,paid_in,bank_A,bank_A,NaN,NaN,3
1,2,Online Retailer - Electronics Purchase,199.99000,Online Shopping,2023-10-01,October,10298,spending,paid_out,bank_A,bank_E,0.78,0.25,3
2,3,Utilities Payment - Internet Service,60.00000,Utilities,2023-10-01,October,10298,spending,paid_out,bank_C,bank_E,0.30,0.22,1
3,4,Rent Payment,1500.00000,Housing,2023-10-01,October,14507,spending,paid_out,bank_D,bank_E,0.57,0.53,3
4,5,Paycheck Deposit - Company Name,10480.68449,Income,2023-10-01,October,14507,income,paid_in,bank_E,bank_D,NaN,NaN,3

In [15]:
df = pd.merge(transactions_input,fraud_cases,how='left',on='transaction_id')
df2 = pd.merge(df,customer_base,how='left',on='customer_id')
df2.head()
#df2[df2["transaction_id"]==187]

,transaction_id,description,Amount,category,date,month,customer_id,type,In_or_Out,bank_to,bank_from,transac_prob,description_prob,priority,is_scam_transaction,fraud_type,case_id,home_bank,customer_prob
0,1,Salary Deposit - XYZ Corporation,11474.33021,Income,2023-10-01,October,17699,income,paid_in,bank_A,bank_A,NaN,NaN,3,NaN,NaN,NaN,bank_A,0.66
1,2,Online Retailer - Electronics Purchase,199.99000,Online Shopping,2023-10-01,October,10298,spending,paid_out,bank_A,bank_E,0.78,0.25,3,NaN,NaN,NaN,bank_E,0.49
2,3,Utilities Payment - Internet Service,60.00000,Utilities,2023-10-01,October,10298,spending,paid_out,bank_C,bank_E,0.30,0.22,1,NaN,NaN,NaN,bank_E,0.49
3,4,Rent Payment,1500.00000,Housing,2023-10-01,October,14507,spending,paid_out,bank_D,bank_E,0.57,0.53,3,NaN,NaN,NaN,bank_E,0.35
4,5,Paycheck Deposit - Company Name,10480.68449,Income,2023-10-01,October,14507,income,paid_in,bank_E,bank_D,NaN,NaN,3,NaN,NaN,NaN,bank_E,0.35

In [35]:
max = df2[df2["is_scam_transaction"] == 1]['customer_prob'].max()
min = df2[df2["is_scam_transaction"] == 1]['customer_prob'].min()
print(f'For the positive scam cases, the minimun probability is {min} and the maximum is {max}')

For the scam cases, the minimun probability is 0.4 and the maximum is 0.9

In [43]:
max = df2[df2["is_scam_transaction"].isna()]['customer_prob'].max()
min = df2[df2["is_scam_transaction"].isna()]['customer_prob'].min()
print(f'For the negative scam cases, the minimun probability is {min} and the maximum is {max}')

For the negative scam cases, the minimun probability is 0.2 and the maximum is 0.9

In [46]:
df2[df2["is_scam_transaction"] == 1]['Amount'].count()

2481

In [51]:
(df2[df2["is_scam_transaction"] == 1]['Amount'].count() / df2['transaction_id'].count())*100

0.7871642416127824

In [52]:
df2[df2["is_scam_transaction"] == 1]['Amount'].sum()

253140.4